.services_container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

}

.service {
    background: var(--color-bg-variant);
    border-radius: 6rem 6rem 5rem 5rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.service:hover{

    background: white;
    border-color: var(--color-primary-variant);
    cursor: default;
    color: black;

}

.service_head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 8rem 8rem .0rem .0rem;
    box-shadow: 0 2rem 1 rem rgba(0,0,0,0.1);
}



.service_head h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service_list {
    padding: 2rem;
}

.service_list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service_list-icon{
    color: var(--color-primary);
    margin-top: 2px;
    font-size: 2rem;
}


/* Media queries - Medium Devices */
@media screen and (max-width: 1024px) {

    .services_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .service {
        height: auto;
    }

    
}

/* Media queries - Small devices */
@media screen and (max-width: 600px) {
      
        .services_container {
            grid-template-columns: 1fr;
            gap: 1.5rem;
        }
        
    }