

.portfolio_container {

display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 2.5rem;

}


.portfolio_item {
background: var(--color-bg-variant);
padding: 1.3rem;
border-radius: 4rem;
border: 1px solid transparent;
}

.portfolio_item:hover{
    border-color:  var(--color-primary-variant);
    background: white;
    border-radius: 2rem;
    color: black;
    transition: var(--transition);
}





.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    border-color: black
}


.portfolio_item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* Media queries - Medium Devices */
@media screen and (max-width: 1024px) {

 .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
 }
  
  }  
  
  
/* Media queries - Small devices */
@media screen and (max-width: 600px) {
      
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }         
        
      }



