header {
    height: 100vh;
    padding-top: 7rem;

}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    

}

/* CTA */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Header Socials */

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary)
}

/* Header Image (ME) */


.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    height: 25rem;
    border-radius: 20rem;
    position: absolute;
    left: calc(50% - 10rem);
    margin-top: 4rem;
    padding: 5rem 1.5rem 1.5rem;
    overflow: hidden;
    transform: rotate(-10deg);

}


.me:hover {
    
    border-radius: 5rem;
    transition: var(--transition);
    transform: rotate(0);
    transition: var(--transition);

}





/* scroll */

.scroll_down {
    position: absolute;
    right: .01rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;

}


/* Media queries - Medium Devices */
@media screen and (max-width: 1024px) {

header {
    
    height: 68vh;

}





}

/* Media queries - Small devices */
@media screen and (max-width: 600px) {

    header{
        height: 100vh;
    }
    .header_socials,
    .scroll_down {
        display:none;
    }

    
}