.experience_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}


.experience_container > div {
    background-color: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 8rem;
    border: 1px solid transparent;
    transition: var(--transition);
    
}

.experience_container > div:hover {
    background: white;
    color: black;
    border-color: var(--color-primary-variant);
    border-radius: 5rem; 
    cursor: default;

}

.experience_icon {
    color: var(--color-primary);
    margin-top: 6px;
}





.experience_container > div  h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience_content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience_details {
    display: flex;
    gap: 1rem;
}



/* Media queries - Medium Devices */
@media screen and (max-width: 1024px) {

  .experience_container {
    grid-template-columns: 1fr;
  }

  .experience_container > div {
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }
  
  .experience_content {
    padding: 1rem;
  }

  }  
/* Media queries - Small devices */
      @media screen and (max-width: 600px) {
      
     .experience_container {
        gap: 1rem;
     }
        
     .experience_container > div {
        width: 100%;
        padding: 2rem 1rem;
     }
      }
